<mat-card>
    <mat-card-title>
        Deletar Produto
    </mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [ngModel]="product.name" name="name" disabled>
        </mat-form-field>
        <mat-form-field>
            <input type="number" matInput placeholder="Preço (R$)" [ngModel]='product.price' name="price" disabled>
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="deleteProduct()" color="primary">Deletar</button>

    <button mat-raised-button (click)="cancelProduct()" color="warn">Cancelar</button>
</mat-card>